.main{
    display: flex;
    justify-content: space-around;
}
.container{
    width: 40%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.input{
    width: 100%;
    height: 10vh;
    font-size: 5vh;
    border-radius: 25px;
}
.line{
    height: 100vh;
    width: 3px;
    background-color: black;
}
.output{
    font-size: 5vh;
}
button{
    width: 50%;
    height: 10vh;
    font-size: 3vh;
    border-radius: 25px;
    background: linear-gradient(0deg, rgba(9, 9, 9, 0.62), white, rgba(9, 9, 9, 0.62));
}
button:hover{
    cursor: pointer;
    background: linear-gradient(0deg, rgba(241, 87, 34, 0.62), white, rgba(241, 87, 34, 0.62));
}